[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=V4L2 Wayland
Comment=A computer vision musical instrument
Exec=v4l2_wayland
Icon=v4l2_wayland.png
Terminal=false
