[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=V4L2 Wayland
Comment=A computer vision musical instrument
Exec=v4l2_wayland
Icon=/usr/share/icons/hicolor/scalable/apps/v4l2_wayland.svg
Categories=AudioVideo
Terminal=false
